@inherits LayoutComponentBase

<div class="row border-bottom white-bg">
    <NavMenu />
</div>
<div class="wrapper wrapper-content">
    <div class="container-fluid">
        @Body
    </div>
</div>
<div class="footer">
    <div>
        <strong>Copyright</strong> &copy; 2016 - @DateTime.Now.Year <a href="http://jonathanperis.github.io" target="_blank">Jonathan Peris</a>, todos os direitos Reservados.
    </div>
</div>