@page "{id:Guid}"

@model Impedimento.RemoverModel
@{
    ViewData["Title"] = "Remoção de Impedimento";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-filled">
            <div class="panel-heading">@ViewData["Title"]</div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Impedimento.Id"></label>
                        <input type="hidden" asp-for="Impedimento.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Impedimento.Id)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Impedimento.Nome"></label>
                        <input type="hidden" asp-for="Impedimento.Nome">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Impedimento.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Impedimento.DataInclusao"></label>
                        <input type="hidden" asp-for="Impedimento.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Impedimento.DataInclusao)</p>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-default" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-accent" type="submit">Remover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>