---
---

<footer>
  <div class="footer-links">
    <a href="https://cpnucleo-webclient-dotnet-d6gve6cabpefbmfz.brazilsouth-01.azurewebsites.net/" target="_blank" rel="noopener noreferrer">Live Demo</a>
    <a href="https://github.com/jonathanperis/cpnucleo">GitHub</a>
    <a href="./docs/">Documentation</a>
  </div>
  <div class="copyright">© 2024 Jonathan Peris. MIT License.</div>
</footer>
