@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<RadzenBreadCrumb>
    <RadzenBreadCrumbItem Path="/" Icon="home"/>
    <RadzenBreadCrumbItem Path="/counter" Text="Counter"/>
</RadzenBreadCrumb>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<RadzenButton Click="@IncrementCount" Text="Click me"></RadzenButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
