@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<RadzenBreadCrumb>
    <RadzenBreadCrumbItem Path="/" Icon="home"/>
</RadzenBreadCrumb>

<h1>Hello, world!</h1>

Welcome to your new app.
