@page
@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

@model ErroModel
@{
    Layout = null;
    ViewData["Title"] = "Status 500";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewData["Title"] - @OptionsApplicationConfiguration.Value.NomeSistema</title>

    <link href="https://cpnucleo-assets.azurewebsites.net/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cpnucleo-assets.azurewebsites.net/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="https://cpnucleo-assets.azurewebsites.net/css/animate.css" rel="stylesheet">
    <link href="https://cpnucleo-assets.azurewebsites.net/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>500</h1>
        <h3 class="font-bold">Erro do Servidor Interno</h3>

        <div class="error-desc">
            O servidor encontrou algo inesperado que não lhe permitiu concluir a solicitação. Nós pedimos desculpas.<br /><br />
            Você pode voltar para a página principal: <br /><a asp-page="/Apontamento/Listar" class="btn btn-primary m-t">Voltar</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/jquery-3.1.1.min.js"></script>
    <script src="https://cpnucleo-assets.azurewebsites.net/js/bootstrap.min.js"></script>

</body>

</html>