@inherits LayoutComponentBase

@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <div class="navbar-brand">@OptionsApplicationConfiguration.Value.NomeSistema - Blazor Server</div>
                </div>
                <NavMenu />
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                @Body
            </div>
        </div>
        <div class="footer">
            <div>
                <strong>Copyright</strong> &copy; 2016 - @DateTime.Now.Year <a href="http://jonathanperis.github.io" target="_blank">Jonathan Peris</a>, todos os direitos Reservados.
            </div>
        </div>
    </div>
</div>

@*<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@