@page

@model Sistema.IncluirModel
@{
    ViewData["Title"] = "Inclusão de Sistema";
}

<div class="mdc-card">
    <div class="mdc-card__primary-action">
        Title
    </div>
    <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons">
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <span class="mdc-button__label">Action 1</span>
            </button>
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <span class="mdc-button__label">Action 2</span>
            </button>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}